:root {
  --main-color: #5d60ef;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e7e9eb !important;
}

.tab-body {
  border-radius: 12px;
}

.menu {
  width: 200px;
  height: 100vh;
  background-color: #ffff;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 16px;
}
.menu .infouser {
  height: 7%;
  width: 100%;
  border-top: 2px solid white;
}
.menu .infouser .logout {
  width: 20%;
  transition: 0.2s;
  color: red;
}
.menu .infouser .logout:hover {
  transform: scale(1.1);
}
.menu .infouser i {
  font-size: 18px;
  cursor: pointer;
  color: #0000;
  margin-left: 10px;
}
.menu .infouser .user {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu .infouser .user p {
  margin: 0px;
  font-size: 17px;
  color: var(--main-color);
  margin-left: 10px;
}
.menu .infouser .setting {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu .infouser .setting i {
  transition: 0.35s;
}
.menu .infouser .setting p {
  margin: 0px;
  font-size: 17px;

  margin-left: 10px;
}
.menu .infouser .setting:hover i {
  transform: rotate(180deg);
}
.menu .infouser:hover {
}
.menu .ele {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu .ele:hover {
}
.menu .more2,
.menu .more3,
.menu .more5 {
  width: 100%;
  position: relative;
  font-size: 14px;
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  cursor: pointer;
}
.menu .more2 div,
.menu .more3 div,
.menu .more5 div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.menu .more2 div p,
.menu .more3 div p,
.menu .more5 div p {
  margin-bottom: 0px;
  margin-left: 10px;
}
.menu .more2 div i,
.menu .more3 div i,
.menu .more5 div i {
  margin-left: 15%;
}
.menu .more2 div:hover,
.menu .more3 div:hover,
.menu .more5 div:hover {
}
.menu .more2 .Chose,
.menu .more3 .Chose,
.menu .more5 .Chose {
  transition: 0.3s;
}
.menu button {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border-left: 6px solid transparent;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.menu button i {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
}
.menu button p {
  font-weight: 500;
  font-size: 14px;
  color: #2f80ed;
  font-weight: 600;
  width: 85%;
  text-align: left;
  border-left: 6px;
  margin: 0;
}

.menu .onChose button p {
  color: #ffff;
}

.menu .onChose {
  border-left: 6px solid blue;
  background-color: #d8e9ff;
  color: #2f80ed;
  font-weight: 600;
  border-radius: 8px;
}

.col-1 {
  border-top-left-radius: 12px;
}

.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #e7e9eb;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.table {
  padding: 12px;
}
.page .p-ele {
  width: 100%;
  height: 100vh;
}
.page iframe,
.page a {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
}
.page .settingSCR {
  position: absolute;
  padding: 15px;
  padding-bottom: 0px;
  z-index: 10000;
  bottom: 0px;
  background-color: #ffff;
  border-radius: 12px;
  border: 1px solid #000;
  width: 350px;
}
.page .settingSCR p {
  font-size: 18px;
  display: flex;
  flex-direction: row;
}
.page .settingSCR b {
  margin-left: 5px;
  font-size: 18px;
}
.page .settingSCR input {
  width: 20%;
  margin-left: 15px;
}
.page .settingSCR input:last-of-type {
  margin-left: auto;
}
.page .settingSCR button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
}

.hidden {
  display: none;
} /*# sourceMappingURL=index.css.map */
